.env
.git
.svn
.idea
.vscode
*.log
*.sh
*_test.go
/service/*_test.go
/utils/*_test.go
*.text
/utils/goip/geoip/GeoLite2-ASN.mmdb
/utils/goip/geoip/GeoLite2-City.mmdb
/utils/goip/geoip/GeoLite2-Country.mmdb
/utils/goip/ip2region/ip2region.db
/utils/goip/ip2region_v2/ip2region.xdb
/utils/goip/ipv6wry/ipv6wry.db
/utils/goip/qqwry/qqwry.dat
/service/help.md